/* Container principal (fundo escuro) */
.modal { 
   display: none;
    width: 100%;
    height: 100%;
    /* Centralização perfeita */
    justify-content: center;
    align-items: center;
}

/* A caixa da Modal */
.modal-content {
    background-color: #333; /* Cor escura para combinar com o PDF */
    position: relative;
    
    /* ALTURA: Exatamente 90% da tela */
    height: 90vh; 
    
    /* LARGURA: Auto, mas com limites */
    width: 39rem; /* Quase toda a largura em telas pequenas */
    max-width: 1200px; /* Não deixa ficar exagerado em monitores UltraWide */
    
    border-radius: 8px;
    overflow: hidden; /* Garante que o PDF não saia das bordas arredondadas */
    display: flex;
    flex-direction: column;
}

/* O iframe (PDF) */
#pdfViewer {
    flex-grow: 1; /* Faz o PDF ocupar todo o espaço restante da modal */
    width: 100%;
    border: none;
}

/* Botão de fechar customizado para ficar visível sobre o PDF */
.close {
    position: absolute;
    top: 35px;
    right: 20px;
    color: rgb(161, 10, 10);
    font-size: 35px;
    font-weight: bold;
    cursor: pointer;
    z-index: 2100;
    text-shadow: 0 0 10px rgba(0,0,0,0.5);
}